<div [formGroup]="form">
    <label [attr.for]="control.key" class="control-label">{{ control.label }}</label>
    <div [ngSwitch]="control.controlType">
        <input [id]="control.key" *ngSwitchCase="'textbox'" class="form-control" [formControlName]="control.key"
               [type]="'text'">

        <select [id]="control.key" *ngSwitchCase="'dropdown'" [formControlName]="control.key">
            <option *ngFor="let opt of control.options" [value]="opt.key">{{opt.value}}</option>
        </select>
    </div>
</div>