<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 
</head>
<body>
    <gv-app>
        <div id="page-loader">
            <span class="spinner"></span>
        </div>
    </gv-app>
        @RenderBody()
    <script src="~/js/polyfills.bundle.js"></script>
    <script src="~/js/vendor.bundle.js"></script>
    <script src="~/js/app.bundle.js"></script>
</body>
</html>