<div class="horizontal-scroll">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="table-id">#</th>
                <th>代码</th>
                <th>描述</th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td class="table-id">{{ item.Id }}</td>
                <td>{{ item.Code }}</td>
                <td>{{ item.Description }}</td> 
                <td>
                    <button class="status-button btn btn-xs btn-info" (click)="onEdit(item)">修改</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>