
<div class="welcome-page">
    <div class="row page-header">
        <div class="col-sm-10">
            <h1> 
                欢迎使用“金航身份验证服务” 
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <p>
                使用金航相关服务前，您可通过
                <a href="ui/Login">登陆</a>
                 进行身份验证即可。
            </p>
        </div>
    </div>
 
</div>
