@model GoldenVoyage.Identity.UI.Logout.LogoutViewModel

<div class="logout-page">
    <div class="page-header">
        <h1>注销</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <p>您确认要注销身份吗?</p>
            <form asp-route="Logout">
                <input type="hidden" asp-for="SignOutId" />
                <fieldset>
                    <div class="form-group">
                        <button class="btn btn-primary">是</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>