
<div class="loadding" *ngIf="loadding">
    <h1>装载中...</h1>
</div>

<div class="horizontal-scroll" *ngIf="!loadding">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="table-id">#</th>
                <th class="header" *ngFor="let col of columns">{{ col.title }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td class="table-id">{{ item.Id }}</td>
                <td *ngFor="let col of columns">{{ item | gvFieldSplit: col.field }}</td>
                <td>
                    <button class="status-button btn btn-xs btn-info" (click)="onEdit(item)">修改</button>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>