<div class="user-profile clearfix">
    <a href="#" class="al-sub-logo clearfix hidden-xs">{{ hotelName }}</a>
    <div class="dropdown al-user-profile">
        <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
            <img src="{{ ( 'Nick' | gvProfilePicture ) }}">
           <h1>{{ userName }}</h1>
        </a>
        <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
            <li class="dropdown-item"><i class="dropdown-arr"></i></li>
            <li class="dropdown-item"><a href="#/profile"><i class="fa fa-user"></i>Profile</a></li>
            <li class="dropdown-item"><a href="#"><i class="fa fa-cog"></i>Settings</a></li>
            <li class="dropdown-item"><a href="#" class="signout"><i class="fa fa-power-off"></i>Sign out</a></li>
        </ul>
    </div>
    <gv-msg-center></gv-msg-center>
</div>